@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.displayCaroussel {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 15em;
  padding-right: 15em;
  border: teal 4px solid;
  border-radius: 30em;
  margin-left: 10em;
  margin-right: 10em
}