.paddingFormationGlobal {
  padding: 5em
}

.titleFormation {
  color: white;
  font-size: 50px;
  text-align: center;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: teal;
  margin-bottom: 1em
}

.titleBoxFormation {
  background-image: url(../Assets/imageBack.jpg);
  background-size: cover;
  border: 4px teal double;
  padding: 5em;
  border-radius: 4em;
  margin-bottom: 4em;
}

.subLineFormation {
  font-size: 25px;
  color: teal;
  text-align: center;
  margin-bottom: 2em;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.subTitleFormation {
  color: teal;
  font-size: 20px;
  margin-left: 16%
}

.boxFormation {
  padding-left: 1em;
  padding-right: 3em;
}

.displayFormation {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px
}

.marginFormation {
  padding: 2em;
  margin-right: 0;
  margin-left: 5em;
  border: 4px teal solid;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 330px
}

.marginFormation1 {
  padding: 2em;
  margin-right: 5em;
  margin-left: auto;
  border: 4px teal solid;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 330px;
}

.Formation1 {
  font-size: 100px;
  opacity: 0.2;
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.Formation2 {
  font-size: 50px;
  opacity: 0.2;
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.pFormation {
  font-size: 25px;
  text-align: center;
  color: black;
  border: white 2px solid;
  border-radius: 2em;
  padding: 0.5em
}

.displayImgForm {
  margin: auto
}

.displayImgFormCenter {
  margin-left: auto;
  margin-top: 15em
}