.homePosition {
  padding: 5em
}

.titlePrez {
  color: teal;
  text-align: center;
}

.blockHomePosition {
  display: flex;
  flex-wrap: wrap;
}

.carousselPosition {
  margin: auto
}

.borderImg {
  border: 2px teal solid
}

.blockHome {
  padding: 1em;
  border: 4px teal solid;
  overflow: auto;
  max-width: 390px;
  max-height: 600px;
  text-align: center;
  margin: auto
}

figure {
  color: black;
  position: relative;
}

.imgCaption {
  margin-bottom: 5em;
  width: 100%;
  border: 4px solid teal
}

figcaption {
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: teal;
  opacity: 0
}

figcaption:hover {
  opacity: 1;

}